@using Entitiy_Layer.Concrete
@model List<Category>
@{
    Layout = null;
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori</th>
        <th>Kategori Açıklama</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryID</th>
            <td>@item.CategoryName</td>
            <td>@item.CDescription</td>
        </tr>
    }
</table>